/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 530px) {
  #sidebarFixo {
    width: 0;
    padding: 0;
  }
  #conteudo {
    width: 100%;
  }

  #post {
    width: 100%;
  }

}

@media only screen and (min-width: 531px) {

  #post-container {
    max-width: 650px;
  }

  #conteudo{
    width:70%;
  }

  #post{
    width: 80%;
  }

  .div-mobile {
    visibility: hidden;
    clear: both;
    display: none;
  }

  .div-mobile-home {
    visibility: hidden;
    clear: both;
    display: none;
  }

}

.div-mobile {
  margin: auto;
  width: 50%;
}

.div-mobile-home {
  margin: auto;
  width: 70%;
}

.conteudo-link {
  color: inherit;
}

#post-container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-top: 35px;
}

#caption {
  padding-left: 15px;
  padding-right: 15px;
}

#post-body {
  font-size: 15px;
  font-family: "Roboto";
}

.separador {
  width: inherit;
  height: 5px;
  background-color: #ffcc00;
}

#conteudo{
  margin:0 auto;
  height:100%;
  display: inline;
  float: right;
}

#post{
  height: 10%;

}

#singlebuttonOrage{
  background-color: #ff6000;
  width: 80%;
  margin-top: 5%;
  font-size: 15px;
  border: 0;
  size: 40px;
}


#box{

  border-radius: 8px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
  height: 30%;
  width:80%;
  font-size: 16px;


}

#btnREAD{
  background-color: #cccccc;
  border-radius: 10px;
  width: 20%;
  border: 0px;
  font-size: 100%;
  margin-left: 40%;
  max-height: 50%;

}

#divBtnREAD{
  width: 100%;
}

.footer {
  margin-bottom: 200px;
}

.footer-text {
  margin-left: 15px;
  margin-bottom: 15px;
}

.borda-vermelha {
  border-color: red;
}

.button-footer {
  margin-left: 15px;
}

.input-footer {
  margin-bottom: 15px;
}

.alert-footer {
  margin-right: 35px;
}

.button-voltar {
  margin-top: 50px;
}

.download-top {
  padding-top: 50px;
  margin-bottom: 50px;
}

.facebook-side-bar {
  margin: auto;
  width: 80%;
}

.facebook-comentario {
  margin-top: 30px;
}

.facebook-div-comentario {
  max-width: 630px;
  margin-top: 60px;
  margin-bottom: 60px;
}
