#row1{
	background-color: #ededed;
	}

#logo{
	margin:0 auto; 
}

#row2{
	background-color: #ff8b00;
}

#rowBranco{
	background-color: #ffffff;
}
#image{
	padding-left: 50%;	
	display: block;
	} 

form{
	float: center;
	margin:0 auto;
	

}

h3{
	font-family: Roboto;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
}
p{
	color:#fff600;
	text-align: center;
	font-family: Roboto;
	font-weight: bold;
}


#row4{
	background-color: #ededed;
}